/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

#banner-alert {
  background: #eee;
  border-bottom-width: 1px;
  border-color: white;
}

select {
  background: #eee;
}

.add-to-cart {
  background: #222;
  color: white;
}


.add-to-cart:disabled,
.add-to-cart[disabled] {
  background: #667;
}

path {
  fill: black;
}

#footer {
  background: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #222;
    color: white;
  }

  #banner-alert {
    background: #333;
    border-color: #222;
  }

  select {
    background: #444;
  }

  .add-to-cart {
    background: white;
    color: black;
  }
  
  .add-to-cart:disabled,
.add-to-cart[disabled] {
  background: #ccc;
}

  path {
    fill: white;
  }

  #footer {
    background: #333;
    border-color: black;
  }
}
