/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

#banner-alert {
  background: #eee;
  border-bottom-width: 1px;
  border-color: white;
}

select {
  background: #eee;
}

.add-to-cart {
  background: #222;
  color: white;
}


.add-to-cart:disabled,
.add-to-cart[disabled] {
  background: #667;
}

.cart-qty {
  border-color: black;
}

.primary-btn {
  background: linear-gradient(45deg, #f0f, #00f);
  color: white;
  border-width: 0;
}

.bold-border-btn {
  border-color: black;
}

path {
  fill: black;
}

#footer {
  background: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #222;
    color: white;
  }

  #banner-alert {
    background: #333;
    border-color: #222;
  }

  .bold-border-btn {
    border-color: white;
  }

  select {
    background: #444;
  }

  .add-to-cart {
    background: white;
    color: black;
  }
  
  .add-to-cart:disabled,
  .add-to-cart[disabled] {
    background: #ccc;
  }

  .cart-qty {
    border-color: white;
  }

  input[type="text"],input[type="email"] {
    color: black
  }

  path {
    fill: white;
  }

  #footer {
    background: #333;
    border-color: black;
  }
}
