/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


#banner-alert {
  background: black;
  color:white;
  border-bottom-width: 1px;
  border-color: white;
}

#navbar {
  box-shadow: 0 4px 2px -2px lightgrey;
}

select {
  background: #eee;
}

/*
#index-info-box{
  position: relative
 }

#index-info-box::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 100%;
  background: #f0f;
  background: linear-gradient(to right, #f0f, #00f);
 }

#index-info-box::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 20px;
  width: 100%;
  background: #f0f;
  background: linear-gradient(to right, #f0f, #00f);
 }
 */


.add-to-cart:disabled,
.add-to-cart[disabled] {
  background: #667;
}

.cart-qty {
  border-color: black;
}

.primary-btn {
  background: linear-gradient(45deg, #f0f, #00f);
  color: white;
  border-width: 0;
}

.bold-border-btn {
  border-color: black;
}

path {
  fill: black;
}

#footer {
  background: #FAFAFA;
}

a.nav-highlight {
  position: relative;
  padding-bottom: 3px;
  text-decoration: none;
}

a.nav-highlight::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #f0f;
  background: linear-gradient(to right, #f0f, #00f);
 }

/*

@media (prefers-color-scheme: dark) {
  html, body {
    background: #222;
    color: white;
  }

  #banner-alert {
    background: white;
    border-color: #222;
  }

  #navbar {
    border-bottom-color: white;
  }

  .bold-border-btn {
    border-color: white;
  }

  select {
    background: #444;
  }
  
  .add-to-cart:disabled,
  .add-to-cart[disabled] {
    background: #ccc;
  }

  .cart-qty {
    border-color: white;
  }

  input[type="text"],input[type="email"] {
    color: black
  }

  path {
    fill: white;
  }

  #footer {
    background: #333;
    border-color: black;
  }
}
*/

@media only screen and (max-width: 640px) {

  a.nav-highlight {
    padding-bottom: 1px;
  }

  a.nav-highlight::after {
    height: 2px;
   }
}
