/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


#banner-alert {
  background: black;
  color:white;
  border-bottom-width: 1px;
  border-color: white;
}

#navbar {
  box-shadow: 0px 0px 2px #000
}

select {
  background: #eee;
}

.add-to-cart:disabled,
.add-to-cart[disabled] {
  background: #667;
}

.cart-qty {
  border-color: black;
}

.primary-btn {
  background: linear-gradient(45deg, #f0f, #00f);
  color: white;
  border-width: 0;
}

.bold-border-btn {
  border-color: black;
}

path {
  fill: black;
}

#footer {
  background: #FAFAFA;
}

.nav-highlight {
  position: relative;
  padding-bottom: 3px; /* prev 3 */
  text-decoration: none;
}

.nav-highlight::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px; /* prev 4 */
  width: 100%;
  background: #f0f;
  background: linear-gradient(to right, #f0f, #00f);
 }

 .demo-item {
   z-index: -2;
 }

 .demo-phone {
   opacity: 0;
  transition: all 0.5s ease;
   position: absolute;
   height: 75%;
   z-index: 0;
   transform: translate(11.5vh, -20vh);
 }

 .demo-loading-text {
   font-size: 1.5em;
   position: absolute;
  opacity: 0;
  transform: translate(36vh, -50vh);
  transition: all 1.25s ease-in-out;
 }

 .demo-loading-text.load-scan {
  opacity: 1;
 }

 .demo-phone.load-scan, .demo-phone.scanning {
   opacity: 1;
    transform: rotate(2deg) translate(11.5vw, -80vh);
 }

 .demo-phone.done {
   opacity: 0;
  transform: translate(25%, -95%);
 }

 .demo-image {
   opacity: 0;
   position: absolute;
   width: 10%;
   transform: translate(167.5%, -199%);
   transition: all 1.25s ease-in;
 }

 .demo-image.scanning {
  opacity: 1;
}

@media only screen and (max-width: 640px) {

  .nav-highlight {
    padding-bottom: 1px;
  }

  .nav-highlight::after {
    height: 2px;
   }

   .demo-phone {
    height: auto;
    width: 35%;
    transform: translate(70%, -95%);
  }

  .demo-phone.load-scan .demo-phone.scanning {
     transform: rotate(2deg) translate(55%, -140%);
    }

    .demo-phone.done {
      transform: translate(25%, -105%);
     }

     .demo-loading-text {
       font-size: 0.75em;
     transform: translate(200%, -875%);
    }

    .demo-image {
      width: 21.5%;
      transform: translate(147%, -198%);
    }
}
